{% extends 'base.html.twig' %}

{% block title %}Contact - M&S Multi-Services{% endblock %}

{% block content %}
    <div class="card contactCard">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <img src="{{ asset('assets/images/seb.png') }}" alt="sebastien" class="img-fluid d-none d-md-block seb">
                </div>
                <div class="col-md-9">
                    <h5 class="card-title mt-3">Informations de contact</h5>
                <p class="card-text">
                    <ul>
                        <li><span class="bold">Numéro de téléphone :</span> 06 77 92 71 11</li>
                        <li><span class="bold">Adresse mail :</span> msmultiservices34@gmail.com</li>
                        <li><span class="bold"><a href="https://www.facebook.com/MS-Multi-Services-102826438347036/about" class="lienf2">Facebook</a></span></li>
                        <li><span class="bold"><a href="https://www.instagram.com/ms_multiservices/?hl=fr" class="lienf2">Instagram</a></span></li>
                    </ul>
                </p>
                </div>
            </div>
        </div>
    </div>

    {{ form_start(form) }}
    <div class="row formulaire">
        <div class="col-md-6">{{ form_row(form.prenom) }}</div>
        <div class="col-md-6">{{ form_row(form.nom) }}</div>
        <div class="col-md-12">{{ form_row(form.email) }}</div>
        <div class="col-md-12 pb-5">{{ form_row(form.content) }}</div>
    </div>
    {{ form_end(form) }}
{% endblock %}


