<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="M&S Multi-Services à Montpellier" content="Nous sommes disponibles 7j/7 pour tous vos travaux et dépannages plomberie, petite électricité mais également pour élaborer et concevoir vos projets bois">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/msmultiservices.css') }}">
        <!-- Bootstrap core CSS -->
        <link href= "{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/msmultiservices.css') }}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>

        <title>{% block title %}M&S Multi-Services{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <img src="{{ asset('assets/images/logo.png') }}" alt="" width="60" height="60"
                class="d-inline-block align-text-top">
            <span class="ml-3 title">M&S <span class="titleColor">Multi-Services</span></span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-lg-5 active">
                        <a class="nav-link" href="#">Accueil</a>
                    </li>
                    <li class="nav-item mr-lg-5 ml-lg-4">
                        <a class="nav-link" href="#">Prestations</a>
                    </li>
                    <li class="nav-item mr-lg-5 ml-lg-4">
                        <a class="nav-link" href="#">Galerie</a>
                    </li>
                    <li class="nav-item ml-lg-4">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container text-align">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>